@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
/* line 6, ../sass/crawl.scss */
html,
body {
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15vw;
  color: #DFC663;
  background: #000;
  overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

/* line 17, ../sass/crawl.scss */
#starfield-cover {
  background: #000;
  animation: bkg 89s linear 9s;
}

/* line 22, ../sass/crawl.scss */
#intro {
  color: #4bd5ee;
  text-align: left;
  font-size: 3.5vw;
  letter-spacing: .115em;
  font-weight: 400;
  top: 35%;
  left: 23%;
  opacity: 0;
  animation: intro 6s ease-out 1s;
}

/* line 34, ../sass/crawl.scss */
#logo {
  margin: -3% 0 0 0;
  width: 100%;
  opacity: 0;
  animation: logo 7s linear 9s;
}

/* line 41, ../sass/crawl.scss */
#start {
  font-size: 240%;
  text-align: center;
  cursor: pointer;
  margin-top: 18%;
}

/* line 48, ../sass/crawl.scss */
.plate {
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}

/* line 57, ../sass/crawl.scss */
#titles {
  text-align: center;
  transform-origin: 50% 100%;
  -moz-transform: perspective(700px) rotateX(35deg);
  -ms-transform: perspective(700px) rotateX(35deg);
  -webkit-transform: perspective(700px) rotateX(35deg);
  transform: perspective(700px) rotateX(35deg);
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  opacity: 0;
  margin-top: 0;
  animation: titles 80s linear 13s;
}
/* line 67, ../sass/crawl.scss */
#titles #crawl_episode {
  font-size: 7vw;
}
/* line 71, ../sass/crawl.scss */
#titles .crawl-text {
  text-align: justify;
  font-size: 7vw;
}
/* line 76, ../sass/crawl.scss */
#titles #crawl_title {
  font: 200 8.5vw "Oswald", sans-serif;
  text-transform: uppercase;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes logo {
  0% {
    -moz-transform: scale(1.75);
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: -600%;
    opacity: 0;
  }
}
@keyframes bkg {
  0% {
    opacity: 0;
    background: #000 url(../img/stars.png) repeat;
  }
  1% {
    opacity: 1;
    background: #000 url(../img/stars.png) repeat;
  }
  99% {
    opacity: 1;
    background: #000 url(../img/stars.png) repeat;
  }
  100% {
    opacity: 0;
    background: #000;
  }
}
