/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Utilities, variables, and other misc files. */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);
/* Colors */
/* Tools */
/* Media Queries */
/* Site styling. */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Aurebesh";
  src: url("../fonts/Aurebesh.ttf?1293487475") format("truetype");
}

@font-face {
  font-family: "Aurebesh Condensed";
  src: url("../fonts/Aurebesh Condensed.ttf?1293487475") format("truetype");
}

@font-face {
  font-family: "Aurebesh Bold";
  src: url("../fonts/Aurebesh Bold.ttf?1293487475") format("truetype");
}

@font-face {
  font-family: "Aurebesh Italic";
  src: url("../fonts/Aurebesh Italic.ttf?1293487475") format("truetype");
}

.cr:before {
  font-family: 'Aurebesh';
  content: "$";
}

@font-face {
  font-family: "Elektra";
  src: url("../fonts/Elektra Medium Pro.otf") format("opentype");
}

@font-face {
  font-family: "Teuton";
  src: url("../fonts/TeutonMager.otf") format("opentype");
}

@font-face {
  font-family: 'Icomoon';
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'IcoMoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
  content: "\e90b";
}

.icon-minus:before {
  content: "\e90d";
}

.icon-plus:before {
  content: "\e90c";
}

.icon-tick:before {
  content: "\e900";
}

.icon-tick2:before {
  content: "\e901";
}

@font-face {
  font-family: 'EotE';
  src: url("../fonts/eote.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.contrast:before {
  -webkit-text-stroke: 1px #FFF !important;
}

.rem:before {
  -webkit-text-stroke: 1px #e55557 !important;
}

.eote {
  font-family: 'EotE';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dice ========= */
.ab:before {
  content: "\0044";
  color: 51A44B;
}

.ab2:before {
  content: "\0064";
  color: #51A44B;
  -webkit-text-stroke: 1px #000;
}

.bo:before {
  content: "\0042";
  color: #76CDDA;
}

.bo2:before {
  content: "\0062";
  color: #76CDDA;
  -webkit-text-stroke: 1px #000;
}

.ch:before {
  content: "\0043";
  color: #B51213;
}

.ch2:before {
  content: "\0063";
  color: #B51213;
  -webkit-text-stroke: 1px #000;
}

.di:before {
  content: "\0044";
  color: #662D91;
}

.di2:before {
  content: "\0064";
  color: #662D91;
  -webkit-text-stroke: 1px #000;
}

.fo:before {
  content: "\0043";
  color: #FFF;
}

.fo2:before {
  content: "\0063";
  color: #FFF;
  -webkit-text-stroke: 1px #000;
}

.pr:before {
  content: "\0043";
  color: #DFC663;
}

.pr2:before {
  content: "\0063";
  color: #DFC663;
  -webkit-text-stroke: 1px #000;
}

.se:before {
  content: "\0042";
  color: #000;
}

.se2:before {
  content: "\0062";
  color: #000;
  -webkit-text-stroke: 1px #000;
}

/* Symbols */
.su:before {
  content: "\0073";
}

.ad:before {
  content: '\0061';
}

.tr:before {
  content: '\0078';
}

.fa:before {
  content: '\0066';
}

.th:before {
  content: '\0074';
}

.de:before {
  content: '\0079';
}

.li:before {
  content: '\007A';
  color: #FFF;
  -webkit-text-stroke: 1px #000;
}

.da:before {
  content: '\007A';
  color: #000;
}

header {
  z-index: 200;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #222;
  height: 60px;
  -webkit-box-shadow: 0 -3px 0 0 #DFC663;
          box-shadow: 0 -3px 0 0 #DFC663;
}

header #hamburger {
  z-index: 201;
  width: 40px;
  padding: 11px 5px 0;
  display: inline-block;
  cursor: pointer;
}

header #hamburger div {
  width: 100%;
  margin: 5px;
  background-color: #DFC663;
  border-radius: 2px;
  height: 5px;
}

@media screen and (min-width: 51em) {
  header #hamburger {
    display: none;
  }
}

header .logo {
  position: fixed;
  background-image: url(../img/sw_logo_horiz.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 200px;
  display: inline-block;
  top: 30%;
  margin-left: 30px;
}

@media screen and (min-width: 51em) {
  header .logo {
    background-image: url(../img/sw_logo_stacked.png);
    height: 45px;
    width: 100%;
    top: 6px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 51em) {
  header {
    position: relative;
  }
}

@media screen and (min-width: 91em) {
  header {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  margin: 0;
  list-style: none;
  background: #495558;
  z-index: 0;
}

nav ul ul {
  display: none;
}

nav ul li:active > ul {
  display: inherit;
}

nav li {
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #495558;
  border-bottom: 1px solid #DFC663;
}

nav a:after {
  content: ' \25BC';
}

nav a:only-child:after {
  content: '';
}

@media screen and (min-width: 51em) {
  nav {
    position: absolute;
    background: none;
    width: auto;
    height: 60px;
    padding: 0;
    left: 140px;
    z-index: 201;
  }
  nav ul ul {
    position: absolute;
    top: 60px;
  }
  nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    display: inline-block;
    border-bottom: none;
    padding: 0;
    margin: 0 -2px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    background-color: #222;
    -webkit-transition: background-color .5s, color .3s;
    transition: background-color .5s, color .3s;
  }
  nav a:hover {
    color: #222;
    background-color: #DFC663;
  }
  nav a.active {
    color: #DFC663;
    background: #222;
    cursor: normal;
    -webkit-box-shadow: inset 0 -4px 0 0 #DFC663;
            box-shadow: inset 0 -4px 0 0 #DFC663;
  }
}

@media screen and (min-width: 91em) {
  nav {
    left: 24%;
  }
}

.back-to-top {
  text-align: center;
  z-index: 10;
  background-color: #DFC663;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 15px;
  display: none;
  -webkit-transition: -webkit-box-shadow .5s;
  transition: -webkit-box-shadow .5s;
  transition: box-shadow .5s;
  transition: box-shadow .5s, -webkit-box-shadow .5s;
  cursor: pointer;
}

.back-to-top a {
  text-decoration: none;
  line-height: 60px;
  color: #222;
  font-weight: 600;
}

.back-to-top:hover {
  -webkit-box-shadow: 0px 0px 28px -2px rgba(223, 198, 99, 0.75);
          box-shadow: 0px 0px 28px -2px rgba(223, 198, 99, 0.75);
}

.resultsSwitch {
  text-decoration: none;
}

.resultsSwitch li {
  cursor: pointer;
  display: inline-block;
  width: 130px;
  height: 60px;
  background: #222;
  color: #FFF;
  line-height: 60px;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color .3s, color .5s, border-bottom .5s;
  transition: background-color .3s, color .5s, border-bottom .5s;
}

.resultsSwitch li:hover {
  color: #222;
  background-color: #DFC663;
}

.resultsSwitch li.active {
  background-color: #222;
  color: #DFC663;
  border-bottom: 6px solid #DFC663;
}

.sub-menu {
  display: none;
}

@media screen and (min-width: 51em) {
  .sub-menu {
    display: block;
    width: 100%;
    text-align: center;
  }
  .sub-menu ul {
    list-style: none;
    background-color: #222;
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .sub-menu li {
    display: inline-block;
  }
  .sub-menu a {
    display: inline-block;
    height: 40px;
    padding-right: 30px;
    line-height: 40px;
    font-size: .9em;
    text-decoration: none;
    color: #FFF;
    -webkit-transition: color .3s;
    transition: color .3s;
  }
  .sub-menu a:hover {
    background-color: #222;
    color: #DFC663;
  }
  .sub-menu a.active {
    color: #DFC663;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #222;
  }
}

@media screen and (min-width: 91em) {
  .sub-menu {
    width: 70%;
    margin: 0 auto;
  }
}

.animate,
.nav-visible {
  display: block;
}

.animate {
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

.close-nav {
  transform: translate3d(-190px, 0, 0);
  -webkit-transform: translate3d(-190px, 0, 0);
}

.open-nav {
  transform: translate3d(190px, 0, 0);
  -webkit-transform: translate3d(190px, 0, 0);
}

.nav-visible {
  left: 190px;
}

header, nav {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

body {
  background: #333;
  color: #DDD;
  overflow-x: hidden;
}

body p, body li {
  font-size: 1.1em;
  line-height: 1.15em;
}

h1 {
  font-family: "Elektra", sans-serif;
  font-size: 2.5em;
  color: #76CDDA;
  text-transform: uppercase;
  margin: 10px 0;
}

h2 {
  font-family: "Elektra", sans-serif;
  font-size: 1.8em;
  color: #DFC663;
  text-transform: uppercase;
  margin: 8px 0;
}

h3 {
  font-family: "Elektra", sans-serif;
  font-size: 1.3em;
  color: #DFC663;
  margin: 5px 0;
}

h4 {
  font-family: "Elektra", sans-serif;
  font-size: 1em;
  color: #76CDDA;
}

div,
p,
li,
span,
tr,
td {
  font-family: "Titillium Web", sans-serif;
}

.aurebesh {
  font-family: "Aurebesh";
}

.aurebesh-bold {
  font-family: "Aurebesh Bold";
}

.aurebesh-italic {
  font-family: "Aurebesh Italic";
}

.aurebesh-small {
  font-family: "Aurebesh Condensed";
}

.chunk {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.chunk h2 {
  text-align: center;
}

@media screen and (min-width: 51em) {
  .chunk {
    width: 40%;
  }
}

@media screen and (min-width: 91em) {
  .chunk {
    width: 300px;
    text-align: left;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #333;
  padding-top: 60px;
  display: block;
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 51em) {
  .container {
    padding-top: 0;
  }
}

@media screen and (min-width: 91em) {
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

.crew-block {
  display: inline-block;
  width: 90%;
  height: 100px;
  background-color: #761213;
  border: 3px solid #FFF;
  -webkit-transition: border 1s;
  transition: border 1s;
}

.crew-block img {
  width: 100px;
  height: 100px;
}

.crew-block:hover {
  border: 3px solid #222;
}

.crewmember {
  padding: 5px;
  -webkit-transition: background-color .3s, color .5s, font-family 1s;
  transition: background-color .3s, color .5s, font-family 1s;
}

.crewmember a {
  text-decoration: none;
}

.crewmember:hover {
  background-color: #DFC663;
}

.crewmember:hover h3 {
  color: #222;
}

@media screen and (min-width: 51em) {
  .crewmember {
    display: inline-block;
    width: 40%;
  }
}

.divider {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 2px solid #DFC663;
}

.downgrade:before {
  font-size: 1.15em;
  content: "\21B6";
}

.em {
  font-weight: 600;
  color: #B1A58F;
}

.eoteTable, .eoteTableSmall {
  font-size: 1em;
  width: 100%;
}

.eoteTable caption, .eoteTableSmall caption {
  text-align: center;
  background-color: #222;
  color: #FFF;
  vertical-align: middle;
  line-height: 1.5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid #F4F4F2;
}

.eoteTable span, .eoteTableSmall span {
  font-weight: 700;
}

.eoteTable th, .eoteTableSmall th {
  background-color: #222;
  color: #DFC663;
  vertical-align: middle;
  line-height: 1.5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teuton", sans-serif;
}

.eoteTable th:first-child, .eoteTableSmall th:first-child {
  border-top-left-radius: 15px;
}

.eoteTable th:last-child, .eoteTableSmall th:last-child {
  border-top-right-radius: 15px;
}

.eoteTable td, .eoteTableSmall td {
  text-align: center;
}

.eoteTable tr, .eoteTableSmall tr {
  padding: 5px;
  line-height: 1.5em;
}

.eoteTable tr:nth-child(even), .eoteTableSmall tr:nth-child(even) {
  color: #222;
  background-color: #F4F4F2;
}

.eoteTable tr:nth-child(odd):not(:first-child), .eoteTableSmall tr:nth-child(odd):not(:first-child) {
  color: #222;
  background-color: #C8BCAB;
}

.eoteTable tr:last-child td:first-child, .eoteTableSmall tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}

.eoteTable tr:last-child td:last-child, .eoteTableSmall tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}

.eoteTable .active, .eoteTableSmall .active {
  background-color: #761213;
  color: #FFF;
}

.eoteTable .passive, .eoteTableSmall .passive {
  background-color: #284666;
  color: #FFF;
}

.eoteTable .power, .eoteTableSmall .power {
  background-color: #51634B;
  color: #FFF;
}

.eoteTable .flush th:first-child, .eoteTableSmall .flush th:first-child, .eoteTable .flush td:first-child, .eoteTableSmall .flush td:first-child {
  border-top-left-radius: 0px;
}

.eoteTable .flush th:last-child, .eoteTableSmall .flush th:last-child, .eoteTable .flush td:last-child, .eoteTableSmall .flush td:last-child {
  border-top-right-radius: 0px;
}

.eoteTableSmall {
  width: 40%;
}

.footer {
  background-color: #222;
  color: #495558;
  font-size: .8em;
  margin-top: 15px;
}

.footer p {
  padding: 15px 10px;
}

.glow {
  -webkit-box-shadow: 0 0 0 0.25px #FFF;
  box-shadow: 0 0 0 0.25px #FFF;
}

.group {
  text-align: center;
  padding-bottom: 3px;
  -webkit-box-shadow: inset 0 -3px 0 0 #DFC663;
          box-shadow: inset 0 -3px 0 0 #DFC663;
}

.group a {
  text-decoration: none;
}

.group h1 {
  padding: 5px;
  display: inline-block;
  width: auto;
}

.group h1:hover {
  background-color: #DFC663;
  color: #222;
  -webkit-transition: background-color .3s, color .5s;
  transition: background-color .3s, color .5s;
}

.hidden {
  display: none;
}

.justifyFirst th {
  padding: 5px 10px;
}

.justifyFirst td {
  padding: 0 10px;
}

.justifyFirst td:first-child, .justifyFirst th:first-child {
  text-align: left;
  padding-left: 20px;
  max-width: 150px;
}

.justifyLast th, .justifyLastRight th {
  padding: 5px 10px;
}

.justifyLast td, .justifyLastRight td {
  padding: 0 10px;
}

.justifyLast td:last-child, .justifyLastRight td:last-child, .justifyLast th:last-child, .justifyLastRight th:last-child {
  text-align: left;
  padding-left: 20px;
  max-width: 400px;
}

.justifyLast td:first-child, .justifyLastRight td:first-child {
  min-width: 80px;
}

.justifyLastRight td:last-child, .justifyLastRight th:last-child {
  text-align: right;
}

.left {
  float: left;
}

.info {
  margin: 10px;
  padding: 10px 20px;
  background-color: #222;
  border-radius: 15px;
  position: relative;
}

.info h2 {
  margin-bottom: 10px;
  z-index: 10;
}

.info .stinger {
  font-size: 150%;
  top: 10px;
  color: #495558;
  z-index: 2;
  font-weight: 600;
  margin: 10px 0;
}

.info .corner {
  position: absolute;
  top: 10px;
  right: 20px;
}

.info p {
  margin: 3px 0;
  z-index: 3;
  margin: 10px 0;
  text-align: justify;
}

.info strong {
  font-weight: 600;
  color: #DFC663;
}

.block {
  width: 45%;
  display: inline-block;
  margin: 0 10px;
}

.pcBase {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.right {
  float: right;
}

.row-alternate td {
  padding: 0 5px;
}

.row-alternate td:nth-child(even) {
  background-color: #F4F4F2;
}

.ruleDie {
  background-color: #222;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  padding: 15px;
}

.ruleSymbol {
  background-color: #222;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  padding: 15px;
}

.session {
  border-radius: 15px;
  background-color: #222;
  padding: 15px;
  position: relative;
}

@media screen and (min-width: 51em) {
  .session {
    display: inline-block;
    width: 45%;
  }
}

@media screen and (min-width: 91em) {
  .session {
    display: inline-block;
    width: 98%;
  }
}

.session a img {
  width: 75px;
  position: absolute;
  right: 10px;
  top: 45%;
}

@media screen and (min-width: 51em) {
  .session a img {
    width: 120px;
    top: 15%;
  }
}

@media screen and (min-width: 91em) {
  .session a img {
    width: 240px;
    top: 15%;
  }
}

.session .sessionText {
  display: none;
  padding-bottom: 15px;
}

@media screen and (min-width: 91em) {
  .session .sessionText {
    display: inline-block;
    width: 75%;
  }
}

.session:not(:first-child) {
  margin-top: 10px;
}

.sessionMonth {
  margin: 15px 0 0 0;
  padding: 3px 0 3px 10px;
  background-color: #222;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.sessionMonth h1 {
  margin: 0;
}

.sessionMonthContainer {
  margin: 0;
  padding: 15px;
  background-color: #F4F4F2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.splitLeft {
  width: 100%;
}

.splitLeft h1 {
  text-align: center;
}

@media screen and (min-width: 51em) {
  .splitLeft {
    width: 45%;
    float: left;
  }
}

.splitRight {
  width: 100%;
}

.splitRight h1 {
  text-align: center;
}

@media screen and (min-width: 51em) {
  .splitRight {
    width: 45%;
    float: right;
  }
}

.starship {
  display: inline-block;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
  -webkit-transition: background .3s;
  transition: background .3s;
}

.starship h3 {
  padding: 3px;
  -webkit-transition: color .5s, font-family 1s;
  transition: color .5s, font-family 1s;
  margin: 0;
}

.starship img {
  height: 100px;
  width: 90%;
  border: solid 3px #FFF;
  background-color: #761213;
  -webkit-transition: border 1s;
  transition: border 1s;
}

.starship:hover {
  background-color: #DFC663;
}

.starship:hover h3 {
  color: #222;
}

.starship:hover img {
  border: solid 3px #222;
}

@media screen and (min-width: 51em) {
  .starship {
    width: 40%;
  }
}

.table-divider {
  text-align: center;
  font-family: "Teuton", sans-serif;
  background-color: #495558;
  color: #FFF;
  text-transform: uppercase;
}

.teuton {
  font-family: 'Teuton', sans-serif;
}

.updates {
  width: 40%;
  float: right;
}

.upgrade:before {
  font-size: 1.15em;
  content: "\21B7";
}

.pill {
  display: inline-block;
  margin: 10px;
  font-size: 1em;
}

.pillLeft {
  display: inline;
  padding: 2px 8px;
  color: #FFF;
  background: #495558;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.pillRight {
  display: inline;
  padding: 2px 8px;
  color: #222;
  background: #F4F4F2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.section {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.stat, .stat-small, .stat-small-wide {
  display: inline-block;
  width: 130px;
  text-align: center;
  margin: 10px;
}

.stat-small, .stat-small-wide {
  width: 70px;
  margin: 5px;
}

.stat-small-wide {
  width: 150px;
}

.tag, .tag-small, .tagBlue, .tagGreen, .tagOrange, .tagRed {
  display: block;
  width: 100%;
  height: 15%;
  background: #495558;
  color: #FFF;
  padding: 5px;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tag-small {
  font-size: .9em;
}

.tagBlue {
  background: #284666;
}

.tagGreen {
  background: #51634B;
}

.tagOrange {
  background: #B96533;
}

.tagRed {
  background: #761213;
}

.value, .value-small {
  width: 100%;
  background: #F4F4F2;
  color: #222;
  font-size: 3em;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.value-small {
  font-size: 2em;
}

.pcPic, .nysroPic, .hayynqPic, .ruskuPic, .monarchPic, .trooperPic {
  height: 300px;
  background: url(../img/rebel_bkg.jpg);
  background-size: cover;
  background-position: 0 -180px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.pcPic h1, .nysroPic h1, .hayynqPic h1, .ruskuPic h1, .monarchPic h1, .trooperPic h1 {
  position: absolute;
  display: block;
  background: #222;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #DFC663;
  margin: 0;
}

.nysroPic {
  background: url(../img/nysro.jpg);
  background-size: cover;
  background-position: 0 -80px;
}

.hayynqPic {
  background: url(../img/hayynq.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

.ruskuPic {
  background: url(../img/rusku.jpg);
  background-size: cover;
  background-position: 0 -70px;
}

.monarchPic {
  background: url(../img/yt1300_long.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

.trooperPic {
  background: url(../img/trooper.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

button {
  cursor: pointer;
  border: none;
  background: #FFF;
  color: #222;
  font-family: "Teuton", sans-serif;
  font-size: 1.15em;
  padding: 10px;
  margin: 5px;
  -webkit-transition: .115s;
  transition: .115s;
}

button:hover {
  -webkit-box-shadow: inset 0 0 0 3px #DFC663;
          box-shadow: inset 0 0 0 3px #DFC663;
  background: none;
  color: #FFF;
}

button:focus {
  outline: none;
}

#char-name,
#vehicle-name {
  width: 300px;
}

#init-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9001;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}

#init-modal div {
  width: 250px;
  position: relative;
  margin: 10% auto;
  padding: 10px;
  border-radius: 15px;
  background: #333;
  text-align: center;
}

#init-modal div input {
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 60px;
  border: none;
  background-color: #495558;
  color: #FFF;
  line-height: 30px;
  font-size: 1.15em;
  padding: 0;
  height: 40px;
  -webkit-transition: -webkit-box-shadow .115s;
  transition: -webkit-box-shadow .115s;
  transition: box-shadow .115s;
  transition: box-shadow .115s, -webkit-box-shadow .115s;
}

#init-modal div input:first-child {
  margin-left: 0;
}

#init-modal div input:focus {
  -webkit-box-shadow: 0 0 5px 5px #DFC663;
          box-shadow: 0 0 5px 5px #DFC663;
  outline: none;
}

.active-slot {
  -webkit-box-shadow: 0 0 5px 5px #76CDDA;
          box-shadow: 0 0 5px 5px #76CDDA;
}

.add-combatant, .destiny {
  display: inline-block;
  border-radius: 15px;
  padding: 20px 0;
  background-color: #222;
}

.add-combatant form, .destiny form {
  display: inline-block;
}

.add-combatant h2, .destiny h2 {
  margin: 0;
}

.add-combatant h4, .destiny h4 {
  display: inline-block;
}

.add-combatant input, .destiny input {
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 60px;
  border: none;
  background-color: #495558;
  color: #FFF;
  line-height: 30px;
  font-size: 1.15em;
  padding: 0;
  height: 40px;
  -webkit-transition: -webkit-box-shadow .115s;
  transition: -webkit-box-shadow .115s;
  transition: box-shadow .115s;
  transition: box-shadow .115s, -webkit-box-shadow .115s;
}

.add-combatant input:first-child, .destiny input:first-child {
  margin-left: 0;
}

.add-combatant input:focus, .destiny input:focus {
  -webkit-box-shadow: 0 0 5px 5px #DFC663;
          box-shadow: 0 0 5px 5px #DFC663;
  outline: none;
}

.add-combatant button, .destiny button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: #FFF;
  color: #222;
  font-family: "Teuton", sans-serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  -webkit-transition: .115s;
  transition: .115s;
  cursor: pointer;
}

.add-combatant .add-ally:focus, .destiny .add-ally:focus,
.add-combatant .add-enemy:focus,
.destiny .add-enemy:focus,
.add-combatant .add-pc:focus,
.destiny .add-pc:focus,
.add-combatant .add-vehicle:focus,
.destiny .add-vehicle:focus {
  outline: none;
}

.add-combatant .add-ally:hover, .destiny .add-ally:hover {
  background-color: #284666;
  color: #FFF;
}

.add-combatant .add-pc:hover, .destiny .add-pc:hover {
  background-color: #51634B;
  color: #FFF;
}

.add-combatant .add-enemy:hover, .destiny .add-enemy:hover {
  background-color: #761213;
  color: #FFF;
}

.add-combatant .add-vehicle:hover, .destiny .add-vehicle:hover {
  background-color: #495558;
  color: #FFF;
}

.char-field {
  display: inline-block;
  font-size: 2.5em;
  margin: 0 0 0 15px;
  padding: 15px 0 0 0;
  vertical-align: top;
}

.char-strain-dmg,
.char-wound-dmg,
.vehicle-speed-up {
  display: inline-block;
  font-size: .5em;
  padding: 7px 0 0 5px;
  float: left;
}

.char-strain-dmg:hover,
.char-wound-dmg:hover,
.vehicle-speed-up:hover {
  color: #761213;
}

.char-strain-heal,
.char-wound-heal,
.vehicle-speed-down {
  display: inline-block;
  font-size: .5em;
  padding: 7px 5px 0 0;
  float: right;
}

.char-strain-heal:hover,
.char-wound-heal:hover,
.vehicle-speed-down:hover {
  color: #51634B;
}

.character {
  margin: 3px 0 0 0;
  padding: 5px 10px;
  -webkit-transition: .115s;
  transition: .115s;
  background: #333;
}

.character.selected-char {
  -webkit-box-shadow: inset 3px 0 0 0 #DFC663;
          box-shadow: inset 3px 0 0 0 #DFC663;
}

.destiny {
  float: left;
}

.destiny h2 {
  text-align: center;
}

.destiny .lightSide, .destiny .darkSide {
  width: 40%;
  height: 50px;
  background-color: #76CDDA;
}

.destiny .darkSide {
  background-color: #761213;
}

.finished {
  -webkit-box-shadow: 0 0 5px 5px #761213;
          box-shadow: 0 0 5px 5px #761213;
}

.init {
  color: #DFC663;
  font-size: 30px;
  padding-bottom: 5px;
}

.monitor, .destiny {
  display: inline-block;
  background-color: #222;
  border-radius: 15px;
  padding: 20px;
  width: 46%;
  float: right;
  margin: 10px 0 0 0;
}

.remove, .remove-char {
  display: inline-block;
  float: right;
  text-align: center;
  width: 40px;
  color: #cf2021;
  -webkit-transition: .3s;
  transition: .3s;
}

.remove:hover, .remove-char:hover {
  background-color: #cf2021;
  color: #FFF;
}

.remove-char {
  width: 20px;
  padding: 4px 2px;
  margin: -5px -10px 0 0;
}

.remove-dice {
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: .8em;
  padding: 33px 0 0 0;
  -webkit-transition: .115s;
  transition: .115s;
}

.remove-dice:hover {
  color: #cf2021;
}

.slot {
  height: 40px;
  line-height: 40px;
  margin: 15px 0;
  font-size: 1.25em;
  background-color: #495558;
  -webkit-transition: -webkit-box-shadow .115s;
  transition: -webkit-box-shadow .115s;
  transition: box-shadow .115s;
  transition: box-shadow .115s, -webkit-box-shadow .115s;
}

.slot .large {
  color: #DFC663;
  margin: 0 5px 0 0;
}

.slot-field {
  display: inline-block;
  text-align: center;
  height: 40px;
  min-width: 70px;
  font-size: 1.5em;
  margin: 0 10px 0 0;
}

.slot-field span {
  color: #DFC663;
}

.stdBtn:hover {
  color: #FFF;
  background-color: #222;
}

.tracker {
  width: 46%;
  border-radius: 15px;
  padding: 20px;
  background-color: #222;
  display: inline-block;
  position: relative;
  margin: 10px 0 0 0;
}

.tracker .round-counter {
  position: absolute;
  top: 20px;
  right: 10px;
}

.type {
  display: inline-block;
  text-align: right;
  height: 40px;
  width: 70px;
  font-size: 1.5em;
  padding: 0 5px 0 0;
  margin: 0 10px 0 0;
}

.type.ally {
  background-color: #284666;
}

.type.enemy {
  background-color: #761213;
}

.type.player {
  background-color: #51634B;
}

.card {
  display: inline-block;
  background-color: #761213;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
  cursor: pointer;
}

.card h3 {
  color: #F4F4F2;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.card:hover {
  background-color: #333;
}

.card:hover h3 {
  color: #DFC663;
}
