/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Utilities, variables, and other misc files. */
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600);
/* Colors */
/* Tools */
/* Media Queries */
/* Site styling. */
/* line 5, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Applications/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Aurebesh";
  src: url("../fonts/Aurebesh.ttf?1293487475") format("truetype");
}
@font-face {
  font-family: "Aurebesh Condensed";
  src: url("../fonts/Aurebesh Condensed.ttf?1293487475") format("truetype");
}
@font-face {
  font-family: "Aurebesh Bold";
  src: url("../fonts/Aurebesh Bold.ttf?1293487475") format("truetype");
}
@font-face {
  font-family: "Aurebesh Italic";
  src: url("../fonts/Aurebesh Italic.ttf?1293487475") format("truetype");
}
/* line 17, ../sass/_fonts.scss */
.cr:before {
  font-family: 'Aurebesh';
  content: "$";
}

@font-face {
  font-family: "Elektra";
  src: url("../fonts/Elektra Medium Pro.otf") format("opentype");
}
@font-face {
  font-family: "Teuton";
  src: url("../fonts/TeutonMager.otf") format("opentype");
}
@font-face {
  font-family: 'Icomoon';
  src: url("../fonts/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 35, ../sass/_fonts.scss */
.icon {
  font-family: 'IcoMoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 56, ../sass/_fonts.scss */
.icon-cross:before {
  content: "\e90b";
}

/* line 59, ../sass/_fonts.scss */
.icon-minus:before {
  content: "\e90d";
}

/* line 62, ../sass/_fonts.scss */
.icon-plus:before {
  content: "\e90c";
}

/* line 65, ../sass/_fonts.scss */
.icon-tick:before {
  content: "\e900";
}

/* line 68, ../sass/_fonts.scss */
.icon-tick2:before {
  content: "\e901";
}

@font-face {
  font-family: 'EotE';
  src: url("../fonts/eote.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
/* line 7, ../sass/_eote.scss */
.contrast:before {
  -webkit-text-stroke: 1px #FFF !important;
}

/* line 10, ../sass/_eote.scss */
.eote {
  font-family: 'EotE';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dice ========= */
/* line 24, ../sass/_eote.scss */
.ab:before {
  content: "\0044";
  color: 51A44B;
}

/* line 28, ../sass/_eote.scss */
.ab2:before {
  content: "\0064";
  color: #51A44B;
  -webkit-text-stroke: 1px #000;
}

/* line 33, ../sass/_eote.scss */
.bo:before {
  content: "\0042";
  color: #76CDDA;
}

/* line 37, ../sass/_eote.scss */
.bo2:before {
  content: "\0062";
  color: #76CDDA;
  -webkit-text-stroke: 1px #000;
}

/* line 42, ../sass/_eote.scss */
.ch:before {
  content: "\0043";
  color: #B51213;
}

/* line 46, ../sass/_eote.scss */
.ch2:before {
  content: "\0063";
  color: #B51213;
  -webkit-text-stroke: 1px #000;
}

/* line 51, ../sass/_eote.scss */
.di:before {
  content: "\0044";
  color: #662D91;
}

/* line 55, ../sass/_eote.scss */
.di2:before {
  content: "\0064";
  color: #662D91;
  -webkit-text-stroke: 1px #000;
}

/* line 60, ../sass/_eote.scss */
.fo:before {
  content: "\0043";
  color: #FFF;
}

/* line 64, ../sass/_eote.scss */
.fo2:before {
  content: "\0063";
  color: #FFF;
  -webkit-text-stroke: 1px #000;
}

/* line 69, ../sass/_eote.scss */
.pr:before {
  content: "\0043";
  color: #DFC663;
}

/* line 73, ../sass/_eote.scss */
.pr2:before {
  content: "\0063";
  color: #DFC663;
  -webkit-text-stroke: 1px #000;
}

/* line 78, ../sass/_eote.scss */
.se:before {
  content: "\0042";
  color: #000;
}

/* line 82, ../sass/_eote.scss */
.se2:before {
  content: "\0062";
  color: #000;
  -webkit-text-stroke: 1px #000;
}

/* Symbols */
/* line 89, ../sass/_eote.scss */
.su:before {
  content: "\0073";
}

/* line 92, ../sass/_eote.scss */
.ad:before {
  content: '\0061';
}

/* line 95, ../sass/_eote.scss */
.tr:before {
  content: '\0078';
}

/* line 98, ../sass/_eote.scss */
.fa:before {
  content: '\0066';
}

/* line 101, ../sass/_eote.scss */
.th:before {
  content: '\0074';
}

/* line 104, ../sass/_eote.scss */
.de:before {
  content: '\0079';
}

/* line 107, ../sass/_eote.scss */
.li:before {
  content: '\007A';
  color: #FFF;
  -webkit-text-stroke: 1px #000;
}

/* line 112, ../sass/_eote.scss */
.da:before {
  content: '\007A';
  color: #000;
}

/* line 1, ../sass/_nav.scss */
header {
  z-index: 200;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #222;
  height: 60px;
  box-shadow: 0 -3px 0 0 #DFC663;
}
/* line 9, ../sass/_nav.scss */
header #hamburger {
  z-index: 201;
  width: 40px;
  padding: 11px 5px 0;
  display: inline-block;
  cursor: pointer;
}
/* line 15, ../sass/_nav.scss */
header #hamburger div {
  width: 100%;
  margin: 5px;
  background-color: #DFC663;
  border-radius: 2px;
  height: 5px;
}
@media screen and (min-width: 51em) {
  /* line 9, ../sass/_nav.scss */
  header #hamburger {
    display: none;
  }
}
/* line 26, ../sass/_nav.scss */
header .logo {
  position: fixed;
  background-image: url(../img/sw_logo_horiz.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 200px;
  display: inline-block;
  top: 30%;
  margin-left: 30px;
}
@media screen and (min-width: 51em) {
  /* line 26, ../sass/_nav.scss */
  header .logo {
    background-image: url(../img/sw_logo_stacked.png);
    height: 45px;
    width: 100%;
    top: 6px;
    margin: 0 10px;
  }
}
@media screen and (min-width: 51em) {
  /* line 1, ../sass/_nav.scss */
  header {
    position: relative;
  }
}
@media screen and (min-width: 91em) {
  /* line 1, ../sass/_nav.scss */
  header {
    position: relative;
    width: 70%;
    margin: 0 auto;
  }
}

/* line 53, ../sass/_nav.scss */
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 100%;
  margin: 0;
  list-style: none;
  background: #495558;
  z-index: 0;
}
/* line 64, ../sass/_nav.scss */
nav ul ul {
  display: none;
}
/* line 67, ../sass/_nav.scss */
nav ul li:active > ul {
  display: inherit;
}
/* line 70, ../sass/_nav.scss */
nav li {
  padding: 0;
  margin: 0;
}
/* line 74, ../sass/_nav.scss */
nav a {
  display: block;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #495558;
  border-bottom: 1px solid #DFC663;
}
/* line 86, ../sass/_nav.scss */
nav a:after {
  content: ' \25BC';
}
/* line 87, ../sass/_nav.scss */
nav a:only-child:after {
  content: '';
}
@media screen and (min-width: 51em) {
  /* line 53, ../sass/_nav.scss */
  nav {
    position: absolute;
    background: none;
    width: auto;
    height: 60px;
    padding: 0;
    left: 140px;
    z-index: 201;
  }
  /* line 97, ../sass/_nav.scss */
  nav ul ul {
    position: absolute;
    top: 60px;
  }
  /* line 101, ../sass/_nav.scss */
  nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
  }
  /* line 107, ../sass/_nav.scss */
  nav li {
    display: inline-block;
  }
  /* line 110, ../sass/_nav.scss */
  nav a {
    display: inline-block;
    border-bottom: none;
    padding: 0;
    margin: 0 -2px;
    width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    background-color: #222;
    transition: background-color .5s, color .3s;
  }
  /* line 121, ../sass/_nav.scss */
  nav a:hover {
    color: #222;
    background-color: #DFC663;
  }
  /* line 125, ../sass/_nav.scss */
  nav a.active {
    color: #DFC663;
    background: #222;
    cursor: normal;
    box-shadow: inset 0 -4px 0 0 #DFC663;
  }
}
@media screen and (min-width: 91em) {
  /* line 53, ../sass/_nav.scss */
  nav {
    left: 24%;
  }
}

/* line 137, ../sass/_nav.scss */
.back-to-top {
  text-align: center;
  z-index: 10;
  background-color: #DFC663;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 15px;
  display: none;
  transition: box-shadow .5s;
  cursor: pointer;
}
/* line 150, ../sass/_nav.scss */
.back-to-top a {
  text-decoration: none;
  line-height: 60px;
  color: #222;
  font-weight: 600;
}
/* line 156, ../sass/_nav.scss */
.back-to-top:hover {
  box-shadow: 0px 0px 28px -2px rgba(223, 198, 99, 0.75);
}

/* line 160, ../sass/_nav.scss */
.resultsSwitch {
  text-decoration: none;
}
/* line 162, ../sass/_nav.scss */
.resultsSwitch li {
  cursor: pointer;
  display: inline-block;
  width: 130px;
  height: 60px;
  background: #222;
  color: #FFF;
  line-height: 60px;
  font-size: 1.2em;
  box-sizing: border-box;
  transition: background-color .3s, color .5s, border-bottom .5s;
}
/* line 173, ../sass/_nav.scss */
.resultsSwitch li:hover {
  color: #222;
  background-color: #DFC663;
}
/* line 177, ../sass/_nav.scss */
.resultsSwitch li.active {
  background-color: #222;
  color: #DFC663;
  border-bottom: 6px solid #DFC663;
}

/* line 184, ../sass/_nav.scss */
.sub-menu {
  display: none;
}
@media screen and (min-width: 51em) {
  /* line 184, ../sass/_nav.scss */
  .sub-menu {
    display: block;
    width: 100%;
    text-align: center;
  }
  /* line 190, ../sass/_nav.scss */
  .sub-menu ul {
    list-style: none;
    background-color: #222;
    height: 40px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  /* line 197, ../sass/_nav.scss */
  .sub-menu li {
    display: inline-block;
  }
  /* line 200, ../sass/_nav.scss */
  .sub-menu a {
    display: inline-block;
    height: 40px;
    padding-right: 30px;
    line-height: 40px;
    font-size: .9em;
    text-decoration: none;
    color: #FFF;
    transition: color .3s;
  }
  /* line 209, ../sass/_nav.scss */
  .sub-menu a:hover {
    background-color: #222;
    color: #DFC663;
  }
  /* line 213, ../sass/_nav.scss */
  .sub-menu a.active {
    color: #DFC663;
    box-shadow: none;
    background-color: #222;
  }
}
@media screen and (min-width: 91em) {
  /* line 184, ../sass/_nav.scss */
  .sub-menu {
    width: 70%;
    margin: 0 auto;
  }
}

/* line 227, ../sass/_nav.scss */
.animate,
.nav-visible {
  display: block;
}

/* line 233, ../sass/_nav.scss */
.animate {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}

/* line 239, ../sass/_nav.scss */
.close-nav {
  transform: translate3d(-190px, 0, 0);
  -webkit-transform: translate3d(-190px, 0, 0);
}

/* line 245, ../sass/_nav.scss */
.open-nav {
  transform: translate3d(190px, 0, 0);
  -webkit-transform: translate3d(190px, 0, 0);
}

/* line 251, ../sass/_nav.scss */
.nav-visible {
  left: 190px;
}

/* line 254, ../sass/_nav.scss */
header, nav {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

/* line 1, ../sass/_styles.scss */
body {
  background: #333;
  color: #DDD;
  overflow-x: hidden;
}
/* line 5, ../sass/_styles.scss */
body p, body li {
  font-size: 1.1em;
  line-height: 1.15em;
}

/* line 10, ../sass/_styles.scss */
h1 {
  font-family: "Elektra", sans-serif;
  font-size: 2.5em;
  color: #76CDDA;
  text-transform: uppercase;
  margin: 10px 0;
}

/* line 17, ../sass/_styles.scss */
h2 {
  font-family: "Elektra", sans-serif;
  font-size: 1.8em;
  color: #DFC663;
  text-transform: uppercase;
  margin: 8px 0;
}

/* line 24, ../sass/_styles.scss */
h3 {
  font-family: "Elektra", sans-serif;
  font-size: 1.3em;
  color: #DFC663;
  margin: 5px 0;
}

/* line 30, ../sass/_styles.scss */
h4 {
  font-family: "Elektra", sans-serif;
  font-size: 1em;
  color: #76CDDA;
}

/* line 35, ../sass/_styles.scss */
div,
p,
li,
span,
tr,
td {
  font-family: "Titillium Web", sans-serif;
}

/* line 43, ../sass/_styles.scss */
.aurebesh {
  font-family: "Aurebesh";
}

/* line 46, ../sass/_styles.scss */
.aurebesh-bold {
  font-family: "Aurebesh Bold";
}

/* line 49, ../sass/_styles.scss */
.aurebesh-italic {
  font-family: "Aurebesh Italic";
}

/* line 52, ../sass/_styles.scss */
.aurebesh-small {
  font-family: "Aurebesh Condensed";
}

/* line 55, ../sass/_styles.scss */
.chunk {
  width: 90%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
/* line 60, ../sass/_styles.scss */
.chunk h2 {
  text-align: center;
}
@media screen and (min-width: 51em) {
  /* line 55, ../sass/_styles.scss */
  .chunk {
    width: 40%;
  }
}
@media screen and (min-width: 91em) {
  /* line 55, ../sass/_styles.scss */
  .chunk {
    width: 300px;
    text-align: left;
  }
}

/* line 71, ../sass/_styles.scss */
.container {
  width: 100%;
  margin: 0 auto;
  background: #333;
  padding-top: 60px;
  display: block;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 51em) {
  /* line 71, ../sass/_styles.scss */
  .container {
    padding-top: 0;
  }
}
@media screen and (min-width: 91em) {
  /* line 71, ../sass/_styles.scss */
  .container {
    width: 70%;
    margin: 0 auto;
  }
}

/* line 87, ../sass/_styles.scss */
.crew-block {
  display: inline-block;
  width: 90%;
  height: 100px;
  background-color: #761213;
  border: 3px solid #FFF;
  transition: border 1s;
}
/* line 94, ../sass/_styles.scss */
.crew-block img {
  width: 100px;
  height: 100px;
}
/* line 98, ../sass/_styles.scss */
.crew-block:hover {
  border: 3px solid #222;
}

/* line 102, ../sass/_styles.scss */
.crewmember {
  padding: 5px;
  transition: background-color .3s, color .5s, font-family 1s;
}
/* line 105, ../sass/_styles.scss */
.crewmember a {
  text-decoration: none;
}
/* line 108, ../sass/_styles.scss */
.crewmember:hover {
  background-color: #DFC663;
}
/* line 110, ../sass/_styles.scss */
.crewmember:hover h3 {
  color: #222;
}
@media screen and (min-width: 51em) {
  /* line 102, ../sass/_styles.scss */
  .crewmember {
    display: inline-block;
    width: 40%;
  }
}

/* line 119, ../sass/_styles.scss */
.divider {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-bottom: 2px solid #DFC663;
}

/* line 125, ../sass/_styles.scss */
.downgrade:before {
  font-size: 1.15em;
  content: "\21B6";
}

/* line 129, ../sass/_styles.scss */
.em {
  font-weight: 600;
  color: #B1A58F;
}

/* line 133, ../sass/_styles.scss */
.eoteTable, .eoteTableSmall {
  font-size: 1em;
  width: 100%;
}
/* line 136, ../sass/_styles.scss */
.eoteTable caption, .eoteTableSmall caption {
  text-align: center;
  background-color: #222;
  color: #FFF;
  vertical-align: middle;
  line-height: 1.5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom: 1px solid #F4F4F2;
}
/* line 150, ../sass/_styles.scss */
.eoteTable span, .eoteTableSmall span {
  font-weight: 700;
}
/* line 153, ../sass/_styles.scss */
.eoteTable th, .eoteTableSmall th {
  background-color: #222;
  color: #DFC663;
  vertical-align: middle;
  line-height: 1.5em;
  font-weight: 600;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Teuton", sans-serif;
}
/* line 163, ../sass/_styles.scss */
.eoteTable th:first-child, .eoteTableSmall th:first-child {
  border-top-left-radius: 15px;
}
/* line 166, ../sass/_styles.scss */
.eoteTable th:last-child, .eoteTableSmall th:last-child {
  border-top-right-radius: 15px;
}
/* line 170, ../sass/_styles.scss */
.eoteTable td, .eoteTableSmall td {
  text-align: center;
}
/* line 173, ../sass/_styles.scss */
.eoteTable tr, .eoteTableSmall tr {
  padding: 5px;
  line-height: 1.5em;
}
/* line 176, ../sass/_styles.scss */
.eoteTable tr:nth-child(even), .eoteTableSmall tr:nth-child(even) {
  color: #222;
  background-color: #F4F4F2;
}
/* line 180, ../sass/_styles.scss */
.eoteTable tr:nth-child(odd):not(:first-child), .eoteTableSmall tr:nth-child(odd):not(:first-child) {
  color: #222;
  background-color: #C8BCAB;
}
/* line 184, ../sass/_styles.scss */
.eoteTable tr:last-child td:first-child, .eoteTableSmall tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
}
/* line 187, ../sass/_styles.scss */
.eoteTable tr:last-child td:last-child, .eoteTableSmall tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
}
/* line 191, ../sass/_styles.scss */
.eoteTable .active, .eoteTableSmall .active {
  background-color: #761213;
  color: #FFF;
}
/* line 195, ../sass/_styles.scss */
.eoteTable .passive, .eoteTableSmall .passive {
  background-color: #284666;
  color: #FFF;
}
/* line 199, ../sass/_styles.scss */
.eoteTable .power, .eoteTableSmall .power {
  background-color: #51634B;
  color: #FFF;
}
/* line 205, ../sass/_styles.scss */
.eoteTable .flush th:first-child, .eoteTableSmall .flush th:first-child, .eoteTable .flush td:first-child, .eoteTableSmall .flush td:first-child {
  border-top-left-radius: 0px;
}
/* line 208, ../sass/_styles.scss */
.eoteTable .flush th:last-child, .eoteTableSmall .flush th:last-child, .eoteTable .flush td:last-child, .eoteTableSmall .flush td:last-child {
  border-top-right-radius: 0px;
}

/* line 214, ../sass/_styles.scss */
.eoteTableSmall {
  width: 40%;
}

/* line 218, ../sass/_styles.scss */
.footer {
  background-color: #222;
  color: #495558;
  font-size: .8em;
  margin-top: 15px;
}
/* line 223, ../sass/_styles.scss */
.footer p {
  padding: 15px 10px;
}

/* line 227, ../sass/_styles.scss */
.glow {
  -webkit-box-shadow: 0 0 0 0.25px #FFF;
  box-shadow: 0 0 0 0.25px #FFF;
}

/* line 231, ../sass/_styles.scss */
.group {
  text-align: center;
  padding-bottom: 3px;
  box-shadow: inset 0 -3px 0 0 #DFC663;
}
/* line 235, ../sass/_styles.scss */
.group a {
  text-decoration: none;
}
/* line 238, ../sass/_styles.scss */
.group h1 {
  padding: 5px;
  display: inline-block;
  width: auto;
}
/* line 242, ../sass/_styles.scss */
.group h1:hover {
  background-color: #DFC663;
  color: #222;
  transition: background-color .3s, color .5s;
}

/* line 249, ../sass/_styles.scss */
.hidden {
  display: none;
}

/* line 253, ../sass/_styles.scss */
.justifyFirst th {
  padding: 5px 10px;
}
/* line 256, ../sass/_styles.scss */
.justifyFirst td {
  padding: 0 10px;
}
/* line 259, ../sass/_styles.scss */
.justifyFirst td:first-child, .justifyFirst th:first-child {
  text-align: left;
  padding-left: 20px;
  max-width: 150px;
}

/* line 266, ../sass/_styles.scss */
.justifyLast th, .justifyLastRight th {
  padding: 5px 10px;
}
/* line 269, ../sass/_styles.scss */
.justifyLast td, .justifyLastRight td {
  padding: 0 10px;
}
/* line 272, ../sass/_styles.scss */
.justifyLast td:last-child, .justifyLastRight td:last-child, .justifyLast th:last-child, .justifyLastRight th:last-child {
  text-align: left;
  padding-left: 20px;
  max-width: 400px;
}
/* line 277, ../sass/_styles.scss */
.justifyLast td:first-child, .justifyLastRight td:first-child {
  min-width: 80px;
}

/* line 283, ../sass/_styles.scss */
.justifyLastRight td:last-child, .justifyLastRight th:last-child {
  text-align: right;
}

/* line 287, ../sass/_styles.scss */
.left {
  float: left;
}

/* line 290, ../sass/_styles.scss */
.info {
  margin: 10px;
  padding: 10px 20px;
  background-color: #222;
  border-radius: 15px;
  position: relative;
}
/* line 296, ../sass/_styles.scss */
.info h2 {
  margin-bottom: 10px;
  z-index: 10;
}
/* line 300, ../sass/_styles.scss */
.info .stinger {
  font-size: 150%;
  top: 10px;
  color: #495558;
  z-index: 2;
  font-weight: 600;
  margin: 10px 0;
}
/* line 308, ../sass/_styles.scss */
.info .corner {
  position: absolute;
  top: 10px;
  right: 20px;
}
/* line 313, ../sass/_styles.scss */
.info p {
  margin: 3px 0;
  z-index: 3;
  margin: 10px 0;
  text-align: justify;
}
/* line 319, ../sass/_styles.scss */
.info strong {
  font-weight: 600;
  color: #DFC663;
}

/* line 324, ../sass/_styles.scss */
.block {
  width: 45%;
  display: inline-block;
  margin: 0 10px;
}

/* line 329, ../sass/_styles.scss */
.pcBase {
  align-self: center;
}

/* line 332, ../sass/_styles.scss */
.right {
  float: right;
}

/* line 336, ../sass/_styles.scss */
.row-alternate td {
  padding: 0 5px;
}
/* line 338, ../sass/_styles.scss */
.row-alternate td:nth-child(even) {
  background-color: #F4F4F2;
}

/* line 343, ../sass/_styles.scss */
.ruleDie {
  background-color: #222;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  padding: 15px;
}

/* line 350, ../sass/_styles.scss */
.ruleSymbol {
  background-color: #222;
  border-radius: 15px;
  display: inline-block;
  margin: 5px;
  padding: 15px;
}

/* line 357, ../sass/_styles.scss */
.session {
  border-radius: 15px;
  background-color: #222;
  padding: 15px;
  position: relative;
}
@media screen and (min-width: 51em) {
  /* line 357, ../sass/_styles.scss */
  .session {
    display: inline-block;
    width: 45%;
  }
}
@media screen and (min-width: 91em) {
  /* line 357, ../sass/_styles.scss */
  .session {
    display: inline-block;
    width: 98%;
  }
}
/* line 370, ../sass/_styles.scss */
.session a img {
  width: 75px;
  position: absolute;
  right: 10px;
  top: 45%;
}
@media screen and (min-width: 51em) {
  /* line 370, ../sass/_styles.scss */
  .session a img {
    width: 120px;
    top: 15%;
  }
}
@media screen and (min-width: 91em) {
  /* line 370, ../sass/_styles.scss */
  .session a img {
    width: 240px;
    top: 15%;
  }
}
/* line 384, ../sass/_styles.scss */
.session .sessionText {
  display: none;
  padding-bottom: 15px;
}
@media screen and (min-width: 91em) {
  /* line 384, ../sass/_styles.scss */
  .session .sessionText {
    display: inline-block;
    width: 75%;
  }
}
/* line 392, ../sass/_styles.scss */
.session:not(:first-child) {
  margin-top: 10px;
}

/* line 396, ../sass/_styles.scss */
.sessionMonth {
  margin: 15px 0 0 0;
  padding: 3px 0 3px 10px;
  background-color: #222;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
/* line 402, ../sass/_styles.scss */
.sessionMonth h1 {
  margin: 0;
}

/* line 406, ../sass/_styles.scss */
.sessionMonthContainer {
  margin: 0;
  padding: 15px;
  background-color: #F4F4F2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 413, ../sass/_styles.scss */
.splitLeft {
  width: 100%;
}
/* line 415, ../sass/_styles.scss */
.splitLeft h1 {
  text-align: center;
}
@media screen and (min-width: 51em) {
  /* line 413, ../sass/_styles.scss */
  .splitLeft {
    width: 45%;
    float: left;
  }
}

/* line 423, ../sass/_styles.scss */
.splitRight {
  width: 100%;
}
/* line 425, ../sass/_styles.scss */
.splitRight h1 {
  text-align: center;
}
@media screen and (min-width: 51em) {
  /* line 423, ../sass/_styles.scss */
  .splitRight {
    width: 45%;
    float: right;
  }
}

/* line 433, ../sass/_styles.scss */
.starship {
  display: inline-block;
  text-align: center;
  -webkit-align-self: center;
  align-self: center;
  padding: 5px;
  transition: background .3s;
}
/* line 440, ../sass/_styles.scss */
.starship h3 {
  padding: 3px;
  transition: color .5s, font-family 1s;
  margin: 0;
}
/* line 445, ../sass/_styles.scss */
.starship img {
  height: 100px;
  width: 90%;
  border: solid 3px #FFF;
  background-color: #761213;
  transition: border 1s;
}
/* line 452, ../sass/_styles.scss */
.starship:hover {
  background-color: #DFC663;
}
/* line 454, ../sass/_styles.scss */
.starship:hover h3 {
  color: #222;
}
/* line 457, ../sass/_styles.scss */
.starship:hover img {
  border: solid 3px #222;
}
@media screen and (min-width: 51em) {
  /* line 433, ../sass/_styles.scss */
  .starship {
    width: 40%;
  }
}

/* line 465, ../sass/_styles.scss */
.table-divider {
  text-align: center;
  font-family: "Teuton", sans-serif;
  background-color: #495558;
  color: #FFF;
  text-transform: uppercase;
}

/* line 472, ../sass/_styles.scss */
.teuton {
  font-family: 'Teuton', sans-serif;
}

/* line 475, ../sass/_styles.scss */
.updates {
  width: 40%;
  float: right;
}

/* line 479, ../sass/_styles.scss */
.upgrade:before {
  font-size: 1.15em;
  content: "\21B7";
}

/* line 1, ../sass/_charsheet.scss */
.pill {
  display: inline-block;
  margin: 10px;
  font-size: 1em;
}

/* line 6, ../sass/_charsheet.scss */
.pillLeft {
  display: inline;
  padding: 2px 8px;
  color: #FFF;
  background: #495558;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* line 14, ../sass/_charsheet.scss */
.pillRight {
  display: inline;
  padding: 2px 8px;
  color: #222;
  background: #F4F4F2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 22, ../sass/_charsheet.scss */
.section {
  width: 100%;
  text-align: center;
  display: inline-block;
}

/* line 27, ../sass/_charsheet.scss */
.stat, .stat-small, .stat-small-wide {
  display: inline-block;
  width: 130px;
  text-align: center;
  margin: 10px;
}

/* line 33, ../sass/_charsheet.scss */
.stat-small, .stat-small-wide {
  width: 70px;
  margin: 5px;
}

/* line 38, ../sass/_charsheet.scss */
.stat-small-wide {
  width: 150px;
}

/* line 42, ../sass/_charsheet.scss */
.tag, .tag-small, .tagBlue, .tagGreen, .tagOrange, .tagRed {
  display: block;
  width: 100%;
  height: 15%;
  background: #495558;
  color: #FFF;
  padding: 5px;
  font-size: 1.2em;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 53, ../sass/_charsheet.scss */
.tag-small {
  font-size: .9em;
}

/* line 57, ../sass/_charsheet.scss */
.tagBlue {
  background: #284666;
}

/* line 61, ../sass/_charsheet.scss */
.tagGreen {
  background: #51634B;
}

/* line 65, ../sass/_charsheet.scss */
.tagOrange {
  background: #B96533;
}

/* line 69, ../sass/_charsheet.scss */
.tagRed {
  background: #761213;
}

/* line 73, ../sass/_charsheet.scss */
.value, .value-small {
  width: 100%;
  background: #F4F4F2;
  color: #222;
  font-size: 3em;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 82, ../sass/_charsheet.scss */
.value-small {
  font-size: 2em;
}

/* line 87, ../sass/_charsheet.scss */
.pcPic, .nysroPic, .hayynqPic, .ruskuPic, .monarchPic, .trooperPic {
  height: 300px;
  background: url(../img/rebel_bkg.jpg);
  background-size: cover;
  background-position: 0 -180px;
  position: relative;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}
/* line 96, ../sass/_charsheet.scss */
.pcPic h1, .nysroPic h1, .hayynqPic h1, .ruskuPic h1, .monarchPic h1, .trooperPic h1 {
  position: absolute;
  display: block;
  background: #222;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #DFC663;
  margin: 0;
}

/* line 107, ../sass/_charsheet.scss */
.nysroPic {
  background: url(../img/nysro.jpg);
  background-size: cover;
  background-position: 0 -80px;
}

/* line 113, ../sass/_charsheet.scss */
.hayynqPic {
  background: url(../img/hayynq.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

/* line 119, ../sass/_charsheet.scss */
.ruskuPic {
  background: url(../img/rusku.jpg);
  background-size: cover;
  background-position: 0 -70px;
}

/* line 125, ../sass/_charsheet.scss */
.monarchPic {
  background: url(../img/yt1300_long.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

/* line 131, ../sass/_charsheet.scss */
.trooperPic {
  background: url(../img/trooper.jpg);
  background-size: cover;
  background-position: 0 -40px;
}

/* line 1, ../sass/_initiative.scss */
button {
  cursor: pointer;
  border: none;
  background: #FFF;
  color: #222;
  font-family: "Teuton", sans-serif;
  font-size: 1.15em;
  padding: 10px;
  margin: 5px;
  transition: .115s;
}
/* line 11, ../sass/_initiative.scss */
button:hover {
  box-shadow: inset 0 0 0 3px #DFC663;
  background: none;
  color: #FFF;
}
/* line 16, ../sass/_initiative.scss */
button:focus {
  outline: none;
}

/* line 20, ../sass/_initiative.scss */
#char-name,
#vehicle-name {
  width: 300px;
}

/* line 24, ../sass/_initiative.scss */
.active-slot {
  box-shadow: 0 0 5px 5px #76CDDA;
}

/* line 27, ../sass/_initiative.scss */
.add-combatant {
  display: inline-block;
  border-radius: 15px;
  padding: 20px 0;
  background-color: #222;
}
/* line 32, ../sass/_initiative.scss */
.add-combatant form {
  display: inline-block;
}
/* line 35, ../sass/_initiative.scss */
.add-combatant h2 {
  margin: 0;
}
/* line 38, ../sass/_initiative.scss */
.add-combatant h4 {
  display: inline-block;
}
/* line 41, ../sass/_initiative.scss */
.add-combatant input {
  margin: 5px;
  text-align: center;
  display: inline-block;
  width: 100px;
  height: 60px;
  border: none;
  background-color: #495558;
  color: #FFF;
  line-height: 30px;
  font-size: 1.15em;
  padding: 0;
  height: 40px;
  transition: box-shadow .115s;
}
/* line 56, ../sass/_initiative.scss */
.add-combatant input:first-child {
  margin-left: 0;
}
/* line 59, ../sass/_initiative.scss */
.add-combatant input:focus {
  box-shadow: 0 0 5px 5px #DFC663;
  outline: none;
}
/* line 64, ../sass/_initiative.scss */
.add-combatant button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: #FFF;
  color: #222;
  font-family: "Teuton", sans-serif;
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  transition: .115s;
  cursor: pointer;
}
/* line 81, ../sass/_initiative.scss */
.add-combatant .add-ally:focus,
.add-combatant .add-enemy:focus,
.add-combatant .add-pc:focus,
.add-combatant .add-vehicle:focus {
  outline: none;
}
/* line 86, ../sass/_initiative.scss */
.add-combatant .add-ally:hover {
  background-color: #284666;
  color: #FFF;
}
/* line 92, ../sass/_initiative.scss */
.add-combatant .add-pc:hover {
  background-color: #51634B;
  color: #FFF;
}
/* line 98, ../sass/_initiative.scss */
.add-combatant .add-enemy:hover {
  background-color: #761213;
  color: #FFF;
}
/* line 104, ../sass/_initiative.scss */
.add-combatant .add-vehicle:hover {
  background-color: #495558;
  color: #FFF;
}

/* line 110, ../sass/_initiative.scss */
.char-field {
  display: inline-block;
  font-size: 2.5em;
  margin: 0 0 0 15px;
  padding: 15px 0 0 0;
  vertical-align: top;
}

/* line 117, ../sass/_initiative.scss */
.char-strain-dmg,
.char-wound-dmg,
.vehicle-speed-up {
  display: inline-block;
  font-size: .5em;
  padding: 7px 0 0 5px;
  float: left;
}
/* line 124, ../sass/_initiative.scss */
.char-strain-dmg:hover,
.char-wound-dmg:hover,
.vehicle-speed-up:hover {
  color: #761213;
}

/* line 128, ../sass/_initiative.scss */
.char-strain-heal,
.char-wound-heal,
.vehicle-speed-down {
  display: inline-block;
  font-size: .5em;
  padding: 7px 5px 0 0;
  float: right;
}
/* line 135, ../sass/_initiative.scss */
.char-strain-heal:hover,
.char-wound-heal:hover,
.vehicle-speed-down:hover {
  color: #51634B;
}

/* line 139, ../sass/_initiative.scss */
.character {
  margin: 3px 0 0 0;
  padding: 5px 10px;
  transition: .115s;
}
/* line 144, ../sass/_initiative.scss */
.character.selected-char {
  box-shadow: inset 3px 0 0 0 #DFC663;
}

/* line 148, ../sass/_initiative.scss */
.finished {
  box-shadow: 0 0 5px 5px #761213;
}

/* line 151, ../sass/_initiative.scss */
.init {
  color: #DFC663;
  font-size: 30px;
  padding-bottom: 5px;
}

/* line 156, ../sass/_initiative.scss */
.monitor {
  display: inline-block;
  background-color: #222;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 20px;
  width: 46%;
  float: right;
  margin: 10px 0 0 0;
}

/* line 166, ../sass/_initiative.scss */
.remove, .remove-char {
  display: inline-block;
  float: right;
  text-align: center;
  width: 40px;
  color: #cf2021;
  transition: .3s;
}
/* line 173, ../sass/_initiative.scss */
.remove:hover, .remove-char:hover {
  background-color: #cf2021;
  color: #FFF;
}

/* line 178, ../sass/_initiative.scss */
.remove-char {
  border-radius: 50%;
}

/* line 182, ../sass/_initiative.scss */
.remove-dice {
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: .8em;
  padding: 33px 0 0 0;
  transition: .115s;
}
/* line 189, ../sass/_initiative.scss */
.remove-dice:hover {
  color: #cf2021;
}

/* line 193, ../sass/_initiative.scss */
.slot {
  height: 40px;
  line-height: 40px;
  margin: 15px 0;
  font-size: 1.25em;
  background-color: #495558;
  transition: box-shadow .115s;
}
/* line 200, ../sass/_initiative.scss */
.slot .large {
  color: #DFC663;
  margin: 0 5px 0 0;
}

/* line 205, ../sass/_initiative.scss */
.slot-field {
  display: inline-block;
  text-align: center;
  height: 40px;
  min-width: 70px;
  font-size: 1.5em;
  margin: 0 10px 0 0;
}
/* line 212, ../sass/_initiative.scss */
.slot-field span {
  color: #DFC663;
}

/* line 216, ../sass/_initiative.scss */
.tracker {
  width: 46%;
  border-radius: 15px;
  padding: 20px;
  background-color: #222;
  display: inline-block;
  position: relative;
  margin: 10px 0 0 0;
}
/* line 224, ../sass/_initiative.scss */
.tracker .round-counter {
  position: absolute;
  top: 20px;
  right: 10px;
}

/* line 230, ../sass/_initiative.scss */
.type {
  display: inline-block;
  text-align: right;
  height: 40px;
  width: 70px;
  font-size: 1.5em;
  padding: 0 5px 0 0;
  margin: 0 10px 0 0;
}
/* line 238, ../sass/_initiative.scss */
.type.ally {
  background-color: #284666;
}
/* line 241, ../sass/_initiative.scss */
.type.enemy {
  background-color: #761213;
}
/* line 244, ../sass/_initiative.scss */
.type.player {
  background-color: #51634B;
}
