.ability,
.proficiency,
.boost,
.difficulty,
.challenge,
.setback {
	background: url(../img/dice.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.ability {
	background-position: 0 0; 
}
.proficiency {
	background-position: -21px 0; 
}
.boost {
	background-position: -42px 0; 
}
.difficulty {
	background-position: -63px 0; 
}
.challenge {
	background-position: -106px 0; 
}
.setback {
	background-position: -84px 0; 
}