button {
  cursor: pointer;
  border: none;
  background: #FFF;
  color: #222;
  font-family: $special-font;
  font-size: 1.15em;
  padding: 10px;
  margin: 5px;
  transition: .115s;
  &:hover { 
    box-shadow: inset 0 0 0 3px $eoteyellow;
    background: none;
    color: #FFF;
  }
  &:focus {
    outline: none;
  }
}
#char-name {
	width: 300px; 
}
.active-slot {
  box-shadow: 0 0 5px 5px $eoteblue;
}
.add-combatant {
	display: inline-block;
  border-radius: 15px;
  padding: 20px 0;
  background-color: #222;
  form {
    display: inline-block;
  }
  h2 {
    margin: 0;
  }
  input {
    margin: 5px;
    text-align: center;
    display: inline-block;
    // border-radius: 15px;
    width: 100px;
    height: 60px;
    border: none;
    background-color: $eoteslate;
    color: #FFF;
    line-height: 30px;
    font-size: 1.15em;
    padding: 0;
    height: 40px;
    transition: box-shadow .115s;
    &:first-child {
      margin-left: 0;
    }
    &:focus {
      box-shadow: 0 0 5px 5px $eoteyellow;
      outline: none;
    }
  }
  button {
    display: inline-block;
    cursor: pointer;
    border: none;
    background: #FFF;
    color: #222;
    font-family: $special-font;
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    transition: .115s;
    cursor: pointer;
  }
  .add-ally,
  .add-enemy,
  .add-pc {
    &:focus {
      outline: none;
    }
  }
  .add-ally {
    &:hover {
      background-color: $eotedarkblue;
      color: #FFF;
    }
  }
  .add-pc {
    &:hover {
      background-color: $eotegreen;
      color: #FFF;
    }
  }
  .add-enemy {
    &:hover {
      background-color: $eotered;
      color: #FFF;
    }
  }
}
.char-field {
  display: inline-block;
  font-size: 2.5em;
  margin: 0 0 0 15px;
  padding: 15px 0 0 0;
  vertical-align: top;
}
.char-strain-dmg,
.char-wound-dmg {
  display: inline-block;
  font-size: .5em;
  padding: 7px 0 0 5px;
  float: left;
  &:hover {
    color: $eotered;
  }
}
.char-strain-heal,
.char-wound-heal {
  display: inline-block;
  font-size: .5em;
  padding: 7px 5px 0 0;
  float: right;
  &:hover {
    color: $eotegreen;
  }
}
.character {
	height: 100px;
	margin: 3px 0 0 0;
  padding: 5px 10px;
  transition: .115s;
  &.selected-char {
    box-shadow: inset 3px 0 0 0 $eoteyellow;
  }
}
.finished {
  box-shadow: 0 0 5px 5px $eotered;
}
.init {
	color: $eoteyellow;
	font-size: 30px;
	padding-bottom: 5px; 
}
.monitor {
	display: inline-block;
	background-color: #222;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	padding: 20px;
	width: 46%;
	float: right;
	margin: 10px 0 0 0; 
}
.remove {
  display: inline-block;
  float: right;
  text-align: center;
  width: 40px;
  color: lighten($eotered, 20%);
  transition: .3s;
  &:hover {
    background-color: lighten($eotered, 20%);
    color: #FFF;
  }
}
.remove-char {
  @extend .remove;
  border-radius: 50%;
}
.remove-dice {
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: .8em;
  padding: 33px 0 0 0;
  transition: .115s;
  &:hover {
    color: lighten($eotered, 20%);
  }
}
.slot {
  height: 40px;
  line-height: 40px;
  margin: 15px 0;
  font-size: 1.25em;
  background-color: $eoteslate;
  transition: box-shadow .115s;
  .large {
    color: $eoteyellow;
    margin: 0 5px 0 0;
  }
}
.slot-field {
  display: inline-block;
  text-align: center;
  height: 40px;
  min-width: 70px;
  font-size: 1.5em;
  margin: 0 10px 0 0;
  span {
    color: $eoteyellow;
  }
}
.tracker {
  width: 46%;
  border-radius: 15px;
  padding: 20px;
  background-color: #222;
  display: inline-block;
  position: relative;
  margin: 10px 0 0 0;  
  .round-counter {
    position: absolute;
    top: 20px;
    right: 10px;
  }
}
.type {
  display: inline-block;
  text-align: right;
  height: 40px;
  width: 70px;
  font-size: 1.5em;
  padding: 0 5px 0 0;
  margin: 0 10px 0 0;
  &.ally {
    background-color: $eotedarkblue;
  }
  &.enemy {
    background-color: $eotered;
  }
  &.player {
    background-color: $eotegreen;
  }
}