body {
	background: #333;
	color: #DDD;
	overflow-x: hidden;
	p, li {
		font-size: 1.1em;
		line-height: 1.15em; 
	}
}
h1 {
	font-family: $header-font;
	font-size: 2.5em;
	color: $eoteblue;
	text-transform: uppercase;
	margin: 10px 0;
}
h2 {
	font-family: $header-font;
	font-size: 1.8em;
	color: $eoteyellow;
	text-transform: uppercase;
	margin: 8px 0;
}
h3 {
	font-family: $header-font;
	font-size: 1.3em;
	color: $eoteyellow;
	margin: 5px 0;
}
h4 {
	font-family: $header-font;
	font-size: 1em;
	color: $eoteblue;
}
div,
p,
li,
span,
tr,
td {
	font-family: $body-font;
}
.aurebesh {
	font-family: "Aurebesh";
}
.aurebesh-bold {
	font-family: "Aurebesh Bold";
}
.aurebesh-italic {
	font-family: "Aurebesh Italic";
}
.aurebesh-small {
	font-family: "Aurebesh Condensed";
}
.chunk {
	width: 90%;
	display: inline-block;
	vertical-align: top;
  text-align: left;
  h2 {
    text-align: center;
  }
	@media screen and (min-width: $firstbreak) {
		width: 40%;
	}
	@media screen and (min-width: $secondbreak) {
		width: 300px;
		text-align: left;
	}
}
.container {
	width: 100%;
	margin: 0 auto;
	background: $bkg;
	padding-top: 60px;
	display: block;
	position: relative;
	z-index: 1;
	@media screen and (min-width: $firstbreak) {
		padding-top: 0;
	}
	@media screen and (min-width: $secondbreak) {
		width: 70%;
		margin: 0 auto;
	}
}
.crew-block {
	display: inline-block;
	width: 90%;
	height: 100px;
	background-color: $eotered;
	border: 3px solid #FFF;
	transition: border 1s;
	img {
		width: 100px;
		height: 100px;
	}
	&:hover {
		border: 3px solid #222;
	}
}
.crewmember {
	padding: 5px;
	transition: background-color .3s, color .5s, font-family 1s;
	a {
		text-decoration: none;
	}
	&:hover {
		background-color: $eoteyellow;
		h3 {
			color: #222;
		}
	}
	@media screen and (min-width: $firstbreak) {
		display: inline-block;
		width: 40%;
	}
}
.divider {
	width: 100%;
	padding: 5px 0; 
	text-align: center;
	border-bottom: 2px solid $eoteyellow;  
}
.eoteTable {
	font-size: 1em;
	width: 100%;
	caption {
		text-align: center;
		background-color: #222;
		color: #FFF;
		vertical-align: middle;
		line-height: 1.5em;
		font-weight: 600;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
		border-bottom: 1px solid $eotecream;    
	}
	span {
		font-weight: 700;
	}
	th {
		background-color: #222;
		color: $eoteyellow;
		vertical-align: middle;
		line-height: 1.5em;
		font-weight: 600;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
		font-family: $special-font; 
		&:first-child {
			border-top-left-radius: 15px;
		}
		&:last-child {
			border-top-right-radius: 15px;
		}
	}
	td {
		text-align: center;
	}
	tr {
		padding: 5px;
		line-height: 1.5em;
		&:nth-child(even) {
			color: #222;
			background-color: $eotecream;
		}
		&:nth-child(odd):not(:first-child) {
			color: #222;
			background-color: $eotetan;
		}
		&:last-child td:first-child {
			border-bottom-left-radius: 15px;
		}
		&:last-child td:last-child {
			border-bottom-right-radius: 15px;
		}
	}
	.active {
		background-color: $eotered;
		color: #FFF;
	}
	.passive {
		background-color: $eotedarkblue;
		color: #FFF;
	}
	.flush {
		th, td {
			&:first-child {
				border-top-left-radius: 0px;
			}
			&:last-child {
				border-top-right-radius: 0px;
			}
		}
	}
}
.eoteTableSmall {
	@extend .eoteTable;
	width: 40%;
}
.footer {
	background-color: #222;
	color: $eoteslate;
	font-size: .8em;
	margin-top: 15px;
	p {
		padding: 15px 10px;
	}
}
.glow {
	-webkit-box-shadow: 0 0 0 0.25px #FFF;
	box-shadow: 0 0 0 0.25px #FFF; 
}
.group {
	text-align: center;
	padding-bottom: 3px;
	box-shadow: inset 0 -3px 0 0 $eoteyellow;
	a {
		text-decoration: none;
	}
	h1 {
		padding: 5px;
		display: inline-block;
		width: auto;
		&:hover {
			background-color: $eoteyellow;
			color: #222;
			transition: background-color .3s, color .5s;
		}
	}
}
.hidden {
	display: none;
}
.justifyFirst {
	th, td {
		padding: 0 10px;
	}
	td:first-child, th:first-child {
		text-align: left;
		padding-left: 20px;
		max-width: 150px; 
	}
}
.justifyLast {
	th, td {
		padding: 0 10px;
	}
	td:last-child, th:last-child {
		text-align: left;
		padding-left: 20px;
		max-width: 400px; 
	}
	td:first-child {
		min-width: 80px;
	}
}
.justifyLastRight {
	@extend .justifyLast;
	td:last-child, th:last-child {
		text-align: right;
	}
}
.left {
	float: left;
}
.info {
	margin: 10px;
	padding: 10px 20px;
	background-color: #222;
	border-radius: 15px;
	position: relative;
	h2 {
		margin-bottom: 10px;
		z-index: 10;
	}
	.stinger {
		font-size: 150%;
		top: 10px;
		color: $eoteslate;
		z-index: 2;
		font-weight: 600;
		margin: 10px 0;
	}
	.corner {
		position: absolute;
		top: 10px;
		right: 20px;
	}
	p {
		margin: 3px 0;
		z-index: 3;
		margin: 10px 0;
		text-align: justify;
	}
  strong {
    font-weight: 600;
    color: $eoteyellow; 
  }
}
.block {
  width: 45%;
  display: inline-block;
  margin: 0 10px; 
}
.pcBase {
	align-self: center;
}
.right {
	float: right;
}
.row-alternate {
	td{
		padding: 0 5px;
		&:nth-child(even) {
			background-color: $eotecream; 
		}
	}
}
.ruleDie {
	background-color: #222;
	border-radius: 15px;
	display: inline-block;
	margin: 5px;
	padding: 15px;
}
.ruleSymbol {
	background-color: #222;
	border-radius: 15px;
	display: inline-block;
	margin: 5px;
	padding: 15px;
}
.session {
	border-radius: 15px;
	background-color: #222;
	padding: 15px;
	position: relative;
	@media screen and (min-width: $firstbreak) {
		display: inline-block;
		width: 45%;
	}
	@media screen and (min-width: $secondbreak) {
		display: inline-block;
		width: 98%;
	}
	a img {
		width: 75px;
		position: absolute;
		right: 10px;
		top: 45%;
		@media screen and (min-width: $firstbreak) {
			width: 120px;
			top: 15%;
		}
		@media screen and (min-width: $secondbreak) {
			width: 240px;
			top: 15%;
		}
	}
	.sessionText {
		display: none;
		padding-bottom: 15px;
		@media screen and (min-width: $secondbreak) {
			display: inline-block;
			width: 75%;
		}
	}
	&:not(:first-child) {
		margin-top: 10px;
	}
}
.sessionMonth {
	margin: 15px 0 0 0;
	padding: 3px 0 3px 10px;
	background-color: #222;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	h1 {
		margin: 0;
	}
}
.sessionMonthContainer {
	margin: 0;
	padding: 15px;
	background-color: $eotecream;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.splitLeft {
	width: 100%;
	h1 {
		text-align: center;
	}
	@media screen and (min-width: $firstbreak) {
		width: 45%;
		float: left;
	}
}
.splitRight {
	width: 100%;
	h1 {
		text-align: center;
	}
	@media screen and (min-width: $firstbreak) {
		width: 45%;
		float: right;
	}
}
.starship {
	display: inline-block;
	text-align: center;
	-webkit-align-self: center;
	align-self: center;
	padding: 5px;
	transition: background .3s;
	h3 {
		padding: 3px;
		transition: color .5s, font-family 1s;
		margin: 0;
	}
	img {
		height: 100px;
		width: 90%;
		border: solid 3px #FFF;
		background-color: $eotered;
		transition: border 1s;
	}
	&:hover {
		background-color: $eoteyellow;
		h3 {
			color: #222;
		}
		img {
			border: solid 3px #222;
		}
	}
	@media screen and (min-width: $firstbreak) {
		width: 40%;
	}
}
.teuton {
	font-family: 'Teuton', sans-serif;
}
.updates {
	width: 40%;
	float: right;
}