.success, .successAlt,
.advantage, .advantageAlt,
.triumph, .triumphAlt,
.failure, .failureAlt,
.threat, .threatAlt,
.despair, .despairAlt,
.lightSide, .darkSide,
.eitherSide {
	background: url(../img/symbols.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}
.success {
	background-position: 0 0;
}
.advantage {
	background-position: -18px 0;
}
.triumph {
	background-position: -40px 0;
}
.failure {
	background-position: -60px 0;
}
.threat {
	background-position: -78px 0;
}
.despair {
	background-position: -98px 0;
}
.lightSide {
	background-position: -118px 0;
}
.darkSide {
	background-position: -138px 0;
}
.eitherSide {
	background-position: -158px 0;
}
.successAlt {
	background-position: 0 -20px;
}
.advantageAlt {
	background-position: -18px -20px;
}
.triumphAlt {
	background-position: -40px -20px;
}
.failureAlt {
	background-position: -60px -20px;
}
.threatAlt {
	background-position: -78px -20px;
}
.despairAlt {
	background-position: -98px -20px;
}
.successBig,
.advantageBig,
.triumphBig,
.failureBig,
.threatBig,
.despairBig {
	background: url(../img/symbols.png) no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}
.successBig {
	background-position: 1px -40px;
}
.advantageBig {
	background-position: -35px -40px;
}
.triumphBig {
	background-position: -35*2px -40px;
}
.failureBig {
	background-position: -35*3px -40px;
}
.threatBig {
	background-position: -35*4px -40px;
}
.despairBig {
	background-position: -35*5px -40px;
}
