@import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald);

html,
body {
  font: 700 1em "News Cycle", sans-serif;
  letter-spacing: .15vw;
	color: #DFC663;
	background: #000;
	overflow: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

#starfield-cover {
  background: #000;
  animation: bkg 89s linear 9s;
}

#intro {
  color: rgb(75, 213, 238);
  text-align: left;
  font-size: 3.5vw;
  letter-spacing: .115em;
  font-weight: 400;
  top: 35%;
  left: 23%;
  opacity: 0;
  animation: intro 6s ease-out 1s;
}

#logo {
  margin: -3% 0 0 0;
  width: 100%;
  opacity: 0;
  animation: logo 7s linear 9s;
}

#start {
  font-size: 240%;
	text-align: center;
	cursor: pointer;
  margin-top: 18%;
}

.plate {
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: absolute;
}

#titles {
  text-align: center;
  transform-origin: 50% 100%;
	@include transform(perspective(700px) rotateX(35deg));
  @include backface-visibility(hidden);
  position: absolute;
  opacity: 0;
  margin-top: 0;
  animation: titles 80s linear 13s;
  
  #crawl_episode {
    font-size: 7vw;
  }
  
  .crawl-text {
    text-align: justify;
    font-size: 7vw;
  }
  
  #crawl_title {
    font: 200 8.5vw "Oswald", sans-serif;
    text-transform: uppercase;
  }
  
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logo {
	0% { 
    @include transform(scale(1.75)); 
    opacity: 1;
  }
	50% { 
    opacity: 1; 
  }
	100% { 
    @include transform(scale(.01)); 
    opacity: 0;
  }
}

@keyframes titles {
	0% { 
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% { 
    top: -600%;
    opacity: 0;
  }
}

@keyframes bkg {
  0% {
    opacity: 0;
    background: #000 url(../img/stars.png) repeat;
  }
  1% {
    opacity: 1;
    background: #000 url(../img/stars.png) repeat;
  }
  99% {
    opacity: 1;
    background: #000 url(../img/stars.png) repeat;
  }
  100% {
    opacity: 0;
    background: #000;
  }
}