/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

$body-font: 'Ubuntu', sans-serif;
$header-font: 'Squada One', sans-serif;

/* Colors */
$bkg: #333;
$eoteblue: #76CDDA;
$eotered: #761213;
$eotegreen: #51634B;
$eotebrown: #B1A58F;
$eoteslate: #495558;
$eotetan: #C8BCAB;
$eoteyellow: #DFC663;
$eoteblack: #222;
$eotegrey: #B9B8B5;
$eotecream: #F4F4F2;
$eotedarkblue: #284666;
$eotedarkslate: #3A3B35;
$eoteorange: #EA9423;
$eotelightorange: #FEDE7F;
$eoteshipblue: #00AEEF;

$aororange: #B96533;
$aorslate: #354456;
$aortan: #C2B59B;
$aororange2: #F7941E;

$fadslate: #8CAAA6;
$fadpurple: #545C6C;

/* Tools */
$testborder: 1px solid red;

/* Media Queries */
$firstbreak: 51em;
$secondbreak: 91em;